<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="sample.css">
	<style type="text/css"
	</style>
</head>
<body>
	<marquee><h4>Welcome to BVC engineering college</h4></marquee>
	<h2> Student registration </h2>
	<h2> Name <input type ="text"></h2>
	<h2> surname <input type = "text"></h2>
	<h2> email <input type = "text"></h2>
	<h2> mobile_number <input type = "text"></h2>
	<h2>branch<input type = "text"></h2>
	<h2>year<input type = "text"></h2>

</body>
</html>