<!DOCTYPE html>
<html>
<head>
	<title>Show data</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	<table class= "table">
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>SURNAME</th>
			<th>ROLL NUMBER</th>
			<th>MOBILE NUMBER</th>
			<th>BRANCH</th>
		</tr>
		{% for r in register %}
		<tr>
			<td class="warning">{{r.id}}</td>
			<td class="info">{{r.name}}</td>
			<td class="danger">{{r.surname}}</td>
			<td class="success">{{r.roll_no}}</td>
			<td class="active">{{r.mobile}}</td>
			<td class="warning">{{r.branch}}</td>
			<td><a href="{{url_for('editData',register_id=r.id)}}">edit</a></td>
			<td><a href="{{url_for('deleteData',register_id=r.id)}}">delete</a></td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{url_for('addData')}}">Add</a>
	
</body>
</html>